---
import BlogCard from "@/components/BlogCard.astro";
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import { humanize, slugify } from "@/lib/utils/textConverter";
import { Image } from "@astrojs/image/components";

export async function getStaticPaths() {
  const creators = await getSinglePage("creators");

  const paths = creators.map((creator) => ({
    params: {
      single: creator.slug,
    },
    props: { creator },
  }));
  return paths;
}

const { communities_folder } = config.settings;
const { creator } = Astro.props;
const { title, tags, social, meta_title, description, image } = creator.data;
const { Content } = await creator.render();
const communities = await getSinglePage(communities_folder);
const communityFilterByAuthor = communities.filter(
  (community) => slugify(community.data.creator) === slugify(title)
);
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm pb-0">
    <div class="container">
      <div
        class="row justify-center border-b border-border pb-14 dark:border-darkmode-border"
      >
        <div class="text-center lg:col-4">
          {
            image && (
              <Image
                src={image}
                class="mx-auto mb-10 rounded"
                height={200}
                width={200}
                alt={title}
              />
            )
          }
          <h1 class="h3 mb-6">{title}</h1>
          <ul class="mb-4">
            {
              tags.map((tag: string) => (
                <li class="mr-4 inline-block">#{humanize(tag)}</li>
              ))
            }
          </ul>
          <div class="content">
            <Content />
          </div>
          <Social source={social} className="social-icons" />
        </div>
      </div>

      <div class="row justify-center pb-16 pt-14">
        {
          communityFilterByAuthor.map((community) => (
            <div class="mb-12 md:col-6 lg:col-4">
              <BlogCard data={community} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
