---
import AuthorCard from "@/components/AuthorCard.astro";
import Base from "@/layouts/Base.astro";
import { getSinglePage } from "@/lib/contentParser.astro";
import PageHeader from "@/partials/PageHeader.astro";
import { getEntryBySlug } from "astro:content";

const creatorIndex = await getEntryBySlug<any, string>("creators", "-index");
const creators = await getSinglePage("creators");
---

<Base
  title={creatorIndex.data.title}
  meta_title={creatorIndex.data.meta_title}
  description={creatorIndex.data.description}
>
  <PageHeader title={creatorIndex.data.title} />
  <section class="section-sm pb-0">
    <div class="container">
      <div class="row justify-center">
        {
          creators.map((creator) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <AuthorCard data={creator} />
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
