---
import {
  IoCall,
  IoGlobeOutline,
  IoLocation,
  IoLogoBehance,
  IoLogoBitbucket,
  IoLogoCodepen,
  IoLogoDiscord,
  IoLogoDribbble,
  IoLogoFacebook,
  IoLogoFoursquare,
  IoLogoGithub,
  IoLogoGitlab,
  IoLogoInstagram,
  IoLogoLinkedin,
  IoLogoMastodon,
  IoLogoMedium,
  IoLogoPinterest,
  IoLogoReddit,
  IoLogoRss,
  IoLogoSkype,
  IoLogoSlack,
  IoLogoSnapchat,
  IoLogoSoundcloud,
  IoLogoTiktok,
  IoLogoTumblr,
  IoLogoTwitch,
  IoLogoTwitter,
  IoLogoVimeo,
  IoLogoVk,
  IoLogoWhatsapp,
  IoLogoYoutube,
  IoMail,
} from "react-icons/io5/index.js";

const { source, className } = Astro.props;

const {
  facebook,
  twitter,
  mastodon,
  instagram,
  youtube,
  linkedin,
  twitch,
  github,
  gitlab,
  discord,
  slack,
  medium,
  devto,
  codepen,
  bitbucket,
  dribbble,
  behance,
  pinterest,
  soundcloud,
  spotify,
  tumblr,
  reddit,
  vk,
  whatsapp,
  snapchat,
  vimeo,
  tiktok,
  foursquare,
  rss,
  email,
  phone,
  address,
  skype,
  website,
} = source;
---

<ul class={className}>
  {
    facebook && (
      <li class="mb-4 inline-block">
        <a
          aria-label="facebook"
          href={facebook}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoFacebook />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="mb-4 inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter />
        </a>
      </li>
    )
  }
  {
    mastodon && (
      <li class="mb-4 inline-block">
        <a
          aria-label="mastodon"
          href={mastodon}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMastodon />
        </a>
      </li>
    )
  }
  {
    instagram && (
      <li class="mb-4 inline-block">
        <a
          aria-label="instagram"
          href={instagram}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoInstagram />
        </a>
      </li>
    )
  }
  {
    youtube && (
      <li class="mb-4 inline-block">
        <a
          aria-label="youtube"
          href={youtube}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoYoutube />
        </a>
      </li>
    )
  }
  {
    linkedin && (
      <li class="mb-4 inline-block">
        <a
          aria-label="linkedin"
          href={linkedin}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoLinkedin />
        </a>
      </li>
    )
  }
  {
    twitch && (
      <li class="mb-4 inline-block">
        <a
          aria-label="twitch"
          href={twitch}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitch />
        </a>
      </li>
    )
  }
  {
    github && (
      <li class="mb-4 inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
  {
    gitlab && (
      <li class="mb-4 inline-block">
        <a
          aria-label="gitlab"
          href={gitlab}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGitlab />
        </a>
      </li>
    )
  }
  {
    discord && (
      <li class="mb-4 inline-block">
        <a
          aria-label="discord"
          href={discord}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoDiscord />
        </a>
      </li>
    )
  }
  {
    slack && (
      <li class="mb-4 inline-block">
        <a
          aria-label="slack"
          href={slack}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoSlack />
        </a>
      </li>
    )
  }
  {
    medium && (
      <li class="mb-4 inline-block">
        <a
          aria-label="medium"
          href={medium}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMedium />
        </a>
      </li>
    )
  }
  {
    devto && (
      <li class="mb-4 inline-block">
        <a
          aria-label="devto"
          href={devto}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <>
              <title>dev.to</title>
              <path d="M7.42 10.05c-.18-.16-.46-.23-.84-.23H6l.02 2.44.04 2.45.56-.02c.41 0 .63-.07.83-.26.24-.24.26-.36.26-2.2 0-1.91-.02-1.96-.29-2.18zM0 4.94v14.12h24V4.94H0zM8.56 15.3c-.44.58-1.06.77-2.53.77H4.71V8.53h1.4c1.67 0 2.16.18 2.6.9.27.43.29.6.32 2.57.05 2.23-.02 2.73-.47 3.3zm5.09-5.47h-2.47v1.77h1.52v1.28l-.72.04-.75.03v1.77l1.22.03 1.2.04v1.28h-1.6c-1.53 0-1.6-.01-1.87-.3l-.3-.28v-3.16c0-3.02.01-3.18.25-3.48.23-.31.25-.31 1.88-.31h1.64v1.3zm4.68 5.45c-.17.43-.64.79-1 .79-.18 0-.45-.15-.67-.39-.32-.32-.45-.63-.82-2.08l-.9-3.39-.45-1.67h.76c.4 0 .75.02.75.05 0 .06 1.16 4.54 1.26 4.83.04.15.32-.7.73-2.3l.66-2.52.74-.04c.4-.02.73 0 .73.04 0 .14-1.67 6.38-1.8 6.68z" />
            </>
          </svg>
        </a>
      </li>
    )
  }
  {
    codepen && (
      <li class="mb-4 inline-block">
        <a
          aria-label="codepen"
          href={codepen}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoCodepen />
        </a>
      </li>
    )
  }
  {
    bitbucket && (
      <li class="mb-4 inline-block">
        <a
          aria-label="bitbucket"
          href={bitbucket}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoBitbucket />
        </a>
      </li>
    )
  }
  {
    dribbble && (
      <li class="mb-4 inline-block">
        <a
          aria-label="dribbble"
          href={dribbble}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoDribbble />
        </a>
      </li>
    )
  }
  {
    behance && (
      <li class="mb-4 inline-block">
        <a
          aria-label="behance"
          href={behance}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoBehance />
        </a>
      </li>
    )
  }
  {
    pinterest && (
      <li class="mb-4 inline-block">
        <a
          aria-label="pinterest"
          href={pinterest}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoPinterest />
        </a>
      </li>
    )
  }
  {
    soundcloud && (
      <li class="mb-4 inline-block">
        <a
          aria-label="soundcloud"
          href={soundcloud}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoSoundcloud />
        </a>
      </li>
    )
  }
  {
    spotify && (
      <li class="mb-4 inline-block">
        <a
          aria-label="spotify"
          href={spotify}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <svg
            role="img"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <>
              <title>Spotify</title>
              <path d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z" />
            </>
          </svg>
        </a>
      </li>
    )
  }
  {
    tumblr && (
      <li class="mb-4 inline-block">
        <a
          aria-label="tumblr"
          href={tumblr}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTumblr />
        </a>
      </li>
    )
  }
  {
    reddit && (
      <li class="mb-4 inline-block">
        <a
          aria-label="reddit"
          href={reddit}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoReddit />
        </a>
      </li>
    )
  }
  {
    vk && (
      <li class="mb-4 inline-block">
        <a
          aria-label="vk"
          href={vk}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoVk />
        </a>
      </li>
    )
  }
  {
    whatsapp && (
      <li class="mb-4 inline-block">
        <a
          aria-label="whatsapp"
          href={whatsapp}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoWhatsapp />
        </a>
      </li>
    )
  }
  {
    snapchat && (
      <li class="mb-4 inline-block">
        <a
          aria-label="snapchat"
          href={snapchat}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoSnapchat />
        </a>
      </li>
    )
  }
  {
    vimeo && (
      <li class="mb-4 inline-block">
        <a
          aria-label="vimeo"
          href={vimeo}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoVimeo />
        </a>
      </li>
    )
  }
  {
    tiktok && (
      <li class="mb-4 inline-block">
        <a
          aria-label="tiktok"
          href={tiktok}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTiktok />
        </a>
      </li>
    )
  }
  {
    foursquare && (
      <li class="mb-4 inline-block">
        <a
          aria-label="foursquare"
          href={foursquare}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoFoursquare />
        </a>
      </li>
    )
  }
  {
    skype && (
      <li class="mb-4 inline-block">
        <a
          aria-label="skype"
          href={skype}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoSkype />
        </a>
      </li>
    )
  }
  {
    website && (
      <li class="mb-4 inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoGlobeOutline />
        </a>
      </li>
    )
  }
  {
    rss && (
      <li class="mb-4 inline-block">
        <a
          aria-label="rss feed"
          href={rss}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoRss />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="mb-4 inline-block">
        <a aria-label="email" href={`mailto:${email}`}>
          <IoMail />
        </a>
      </li>
    )
  }
  {
    phone && (
      <li class="mb-4 inline-block">
        <a aria-label="telephone" href={`tel:${phone}`}>
          <IoCall />
        </a>
      </li>
    )
  }
  {
    address && (
      <li class="mb-4 inline-block">
        <a
          aria-label="location"
          href={address}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLocation />
        </a>
      </li>
    )
  }
</ul>
